@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.clock-wrapper-div {
  text-align: center;
  padding-top: 20em;
  background-color: aquamarine;
}

.time-wrapper-div {
  font-family: 'Architects Daughter', cursive;
  font-size: 5em;
}
