@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.clock-wrapper-div {
  text-align: center;
  padding-top: 10vh;
  font-size: 3vw;
}

.time-wrapper-div {
  padding-top: 20vh;
  font-family: 'Architects Daughter', cursive;
  font-size: 12vw;
}
